@font-face {
	font-family: 'Roboto Medium';
	src: url('http://dehart.dev/images/Roboto/Roboto-Medium.ttf');
}
* {
    font-family: 'Roboto Medium', 'Times New Roman';
}

.inputStyle {
  border: 2px solid rgba(0, 0, 0, 0.6);
  background-color: #dadad3;
  padding: 5px;
}